{% extends "adminDashboard.html" %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h2 class="uk-heading-line uk-text-center"><span>Gestion des Utilisateurs</span></h2>
    <table class="uk-table uk-table-divider uk-table-hover uk-table-striped uk-table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
